include app.py
include server.py
include version.py
include alembic.ini
graft assets
graft sql
graft alembic
recursive-include module_generator/templates *
exclude .env
exclude .env.*
global-exclude tests/*
global-exclude test/*
global-exclude venv/*
global-exclude logs/*
global-exclude logs_data/*
global-exclude __pycache__
global-exclude *.py[cod]
